
.blind {
  position: absolute;
  text-indent: -9999px;
}

.calendar-view {
  padding: 10px 0 0;
}

.calendar-view .calendar-header .ant-card-body {
  display: none;
}

.calendar-view .calendar-date .is-dimmed .ant-card-head-title,
.calendar-view .calendar-date .is-dimmed .ant-card-body {
  color: rgba(0, 0, 0, 0.25);
}

.calendar-date__event .ant-card-body {
  min-height: calc(24 * 5px);
  padding: 2px;
}

.calendar-date .calendar-date__event:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.is-today .ant-card {
  background: #e6f7ff;
}

.calendar-event {
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  margin: 4px 8px 0 8px;
  color: #ffffff;
  background-color: #00a9ff;
  border-color: #00a9ff;
  padding: 2px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
